<div>
    <div style="text-align: center; font-size: small; margin: 5px; color: gray">Advertisement</div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8730896881590248"
    crossorigin="anonymous"></script>
    <!-- Post Bottom -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8730896881590248"
        data-ad-slot="3878233319"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
