{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% if page.content contains '<h2' or page.content contains '<h3' %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}

{% if enable_toc %}
  <section id="toc-wrapper" class="ps-0 pe-4">
    <!-- TOC Begin -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8730896881590248"
    crossorigin="anonymous"></script>
    <!-- TOC End -->
    <h2 class="panel-heading ps-3 pt-2 mb-2">{{- site.data.locales[include.lang].panel.toc -}}</h2>
    <nav id="toc"></nav>
    <!-- TOC Begin -->
    <div>
      <div style="text-align: center; font-size: small; margin: 5px; color: gray">Advertisement</div>
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8730896881590248"
      data-ad-slot="7892811542"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    </div>
    <!-- TOC End -->

  </section>

  <!-- toc.js will be loaded at medium priority -->
  <script src="{{ site.data.assets[origin].toc.js | relative_url }}"></script>
{% endif %}
