---
layout: page
title: "404: Page not found"
permalink: /404.html

redirect_from:
  - /norobots/
  - /assets/
  - /posts/
---

{% include lang.html %}

<div class="lead">
  <p>{{ site.data.locales[lang].not_found.statment }}</p>
  <p>Due to several rounds of site migration, the old link you used does not work any more.</p>
  <p>You might enter keywords in search box above to quickly locate the actual post.</p>
  <p>Alternatively, you can open <a href="/blog/archives/">the archives to navigate through all the posts</a>.</p>
</div>

{% include advertisement.html %}

<div id="post-list">
  <p>You might find the following things I am recently working on interesting,</p>
  <div class="card post-preview">
    <div class="card-body">
      <h1 class="card-title">
        <a href="https://marketplace.visualstudio.com/items?itemName=lextudio.iis">
        IIS and IIS Express extension for Visual Studio Code
        </a>
      </h1>

      <div class="card-text post-content">
        <p>
          This extension provides a set of commands to help you manage IIS and IIS Express along with Visual Studio Code.
        </p>
      </div>

      <div class="post-meta text-muted d-flex">
        <div class="pin">
          <i class="fas fa-thumbtack fa-fw"></i>
          <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
        </div>
      </div>
      <!-- .post-meta -->
    </div>
  </div>
  <div class="card post-preview">
    <div class="card-body">
      <h1 class="card-title">
        <a href="{% post_url 2023/2023-3-31-successful-and-failed-attempt-my-first-pull-request-for-asp-net-core %}">
          ASP.NET Core 7 and above on Windows 11 ARM64 with IIS
        </a>
      </h1>

      <div class="card-text post-content">
        <p>
          This post talked about how you can set up Windows 11 ARM64 and configure everything around IIS to enable ASP.NET Core 7 and above to host your web apps.
        </p>
      </div>

      <div class="post-meta text-muted d-flex">
        <div class="pin">
          <i class="fas fa-thumbtack fa-fw"></i>
          <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
        </div>
      </div>
      <!-- .post-meta -->
    </div>
  </div>
  <!-- .post-review -->
</div>
